<div class="top-wrapper">
  <div class="top-inner-text">
    <h1> Home Study App </h1>
  </div>
  
</div>

<div class="top-main">
  <div class="container">
    <div class="section-title text-center">
      <h1 class="title">Home Study APP とは</h1>
      <h4 class="title">個人家庭教師の３大悩みを解決！<br>学習・コミュニケーションサポート・生徒先生検索アプリです</h4>
    </div>
    <div class="row description-body">
      <div class="col-md-4 col-sm-6 text-center">
        <i class="fas fa-drumstick-bite fa-top"></i>
        <h3><%= link_to("らくらく生徒管理機能",  admin_root_path, class: "description-parts") %></h3>
        <p>✔家庭教師の味方<br>生徒一覧管理機能で<br>生徒情報の面倒な<br>確認しなくて済みます！</p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <i class="far fa-comment-alt fa-top"></i>
        <h3><%= link_to("生徒と先生マッチング機能", boards_path, {class: "description-parts"}) %></h3>
        <p>お互い先生と生徒が探し会えます！<br>事前に確認することで<br>不安点を確認できます！<br>両親と参考資料のシェアリングがスムーズにでき、満足度UP!</p>
      </div>
    <div class="col-md-4 col-sm-6 text-center">
      <i class="fa fa-search fa-top"></i>
      <h3 class="description-parts">あんしん情報共有機能</h3>
      <p>✔ 親御さんへの連絡は一番大切で重要です<br>家庭教師に必須の親御さんへの情報交換をお手伝い！</p></div>
    </div>
</div>
<div class="section-title text-center">
  <h1>作成中学習コンテンツ！近日機能拡充予定</h1>

  <section class="container">
    <p id="question"></p>
    <ul id="choices"></ul>
    <div id="btn" class="disabled">Next</div>
    </section>
    <section id="result" class="hidden">
      <p></p>
      <a href="">Replay?</a>
  </section>
  <script src="javascripts/tango.js"></script>
  <%= javascript_include_tag 'tango.js' %>


  <h1>最近の生徒たちのアウトプット一覧</h1>

  <div class="main posts-index">
    <div class="container">
      <% if @posts.present? %>
        <%= render 'post', post: @posts %>
      <% else %>
        <%= '生徒がつぶやいていない' %>
      <% end %>
    </div>
  </div>
  <%= link_to 'もっと見る', posts_path, class: 'btn btn-outline-info' %>
</div>
