<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5"><%= @user.full_name %>のプロフィール</h1>
      <table class="table">
        <tr>
          <th>年齢<td><%= current_user.age %></td></th>
        </tr>

        <tr>
          <th>名前<td><%= current_user.full_name %></td></th>
        </tr>

        <tr>
          <th>ひとこと<td><%= current_user.profile %></td></th>
        </tr>

        <tr>
          <th>写真<td><%= image_tag current_user.image.url, class: 'rounded-circle', size: '50x50' %></td></th>
        </tr>
      </table>
    </div>
  </div>
</div>