<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a>
  <%= link_to root_path, class: "brand-link" do %>
    <span class="brand-text font-weight-light">Home Studt App</span>
  <% end %>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <%= link_to tasks_path, class: 'navbar-brand' do %>
        <%= image_tag current_user.image.url, class: 'img-circle elevation-2' %>
      <div class="info">
       <%= current_user.full_name %></a>
      </div>
      <% end %>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_users_path, class: "nav-link" do %>
            <i class="nav-icon far fa-file"></i>
            <p>
              マッチング生徒
            </p>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to admin_students_path, class: "nav-link" do %>
            <i class="nav-icon far fa-user"></i>
            <p>
              管理生徒一覧
            </p>
          <% end %>
        </li>

        <li class="nav-item">
        <%= link_to  admin_memos_path, class: "nav-link" do %>
          <i class="nav-icon far fa-user"></i>
          <p>
            学習メモ一覧
          </p>
        <% end %>
      </li>

        <li class="nav-item">
        <%= link_to admin_blogs_path, class: "nav-link" do %>
          <i class="nav-icon far fa-user"></i>
          <p>
            レッスン予約表管理
          </p>
        <% end %>
      </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
